@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2);
}
html {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 





body{
  margin: 0px;
  background-color: #eaeaeb;
  font-family: 'Roboto', sans-serif !important;
}
.main-Container{
  background-color: #eaeaeb;
  padding-top: 50px;
  /* height: calc(100vh - 50px); */
}
.mainContainer{
  margin: 5% 0; 
  background-color: #fff !important;
  padding: 20px 40px;
}
p,h1,h2{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.mainHeding{
  text-align: center;
  font-weight: 500;
    color: #343232;
}
.subHeding{
  text-align: center;
  font-size: 18px;
  color: #343232;
}
.linkTag{
    text-align: center;
    display: block;
    color: #4b4bffb8;
    font-size: 18px;
    margin-bottom: 30px;
}
.entitle{
  text-align: center;
  font-size: 18px;
}

.cardTile{
  width:100% !important;
  margin: auto;
}

.cardTile .MuiPaper-root{
  display: grid !important;
  text-align: center;
}
.cardPanel{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.cardPanel .CardCenter{
height: inherit;
}
.cardPanel svg{
  font-size: 60px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.cardTile .CardCenter:nth-child(1),.CardCenter:nth-child(2){
  margin-right: 20px !important;
}
.cardTile .CardCenter:nth-child(3){
  margin-left: 20px !important;
}
.cardTile p{
    font-size: 14px  !important;
    text-align: center !important;
    margin: 0px;
    font-weight: bold;
}
 
.textEnd{
  text-align: end;
}
.textCenter{
text-align: center  !important;
}
hr{
  border-color: #d9d9d938  !important;
    margin-bottom: 12px !important;
    margin-top: 12px !important;

}

/* screenthree */
.Screenthree .MuiFormControl-root {
  width: 100%;
}
.Screenthree label{
  border: 1px solid #d8d8d8;
  box-shadow: 1px 1px 0px 1px #d8d8d8;
  margin-bottom: 10px;
  padding: 10px;
}
.Screenthree .MuiFormGroup-root{
  max-width: 520px;
  margin-top: 30px !important;
  margin-bottom: 10px !important;

  margin: auto;
}
.Screenthree .MuiFormGroup-root .MuiTypography-root{
  color: #000;
  font-weight: 600 !important;
}
/* screenFour */
.formLabelWdth .MuiFormControl-root{
  width: 40%;
}
.fontVarient p,span{
  font-size: 14px;
  /* padding-left: 10px; */
  font-weight: bold;
  color:#5e5757;
}
 .learMore{
  font-size: 16px;
  font-weight: normal; 
  color:#529edf !important;
}
.fontVarient span{
  color: #adabab;
}
.fontVarient input{
  width: 70px;
  height: 20px;
  border: 1px solid #dbd5d5;
  margin-right: 10px;
}
.fontVarient input:focus{
  border-color: #4ae3ba;
  outline: none;
}










ul{
  display: flex !important;
}
li{
  display: block !important;
  min-width: 250px;
}

@media screen and (max-width:992px){
  
ul{
  display: block !important;
}
}